@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto&family=Shrikhand&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}
body{
    margin:0px;
}
main{
    padding:0 1rem;
}