.location{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,240,240);
    gap:1rem;
    padding:1.25rem 0;
    & h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
    }
}
