@use "../utils/mixin.scss";
.menus{
    background-color: #F6F6F6;
    padding-bottom: 5rem;
    padding-top:2.5rem;

    h2{
        margin-left: 10%;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
    }
    &__cartes{
        margin-left:10%;
        margin-right: 10%;
        display: grid;
        
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
        @media (max-width: mixin.$breakpoint){
            grid-template-columns: repeat(1, 1fr);
        }
        .new{
            position: relative;
        }
        .new::before{
            content:"Nouveau";
            position: absolute;
            display:grid;
            place-items: center;
            right:0.9rem;
            top:0.9rem;
            height:1.7rem;
            width:4.5rem;
            font-size: 0.8rem;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #99e2d0;
            color:darken($color: #99e2d0, $amount: 40%);
            border-radius: 0.1rem;
        }
    }
}
.carte{
    box-shadow: 0 1.5rem 1rem lightgrey;
    &__img{
        
        height:15rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem 1rem 0 0;
    }
    &__img1{
         background-image: url("images/menu2.jpg");
     }
     &__img2{
         background-image: url("images/menu3.jpg");
     }
     &__img3{
         background-image: url("images/menu1.jpg");
     }
     &__img4{
         background-image: url("images/menu4.jpg");
     }

    &__desc{
    @include mixin.animcoeur;
        h3, p{
            margin-top: 0.5rem;
            margin-left:1rem;
            font-family: 'Roboto', sans-serif;
        }
        p{
            margin-top:0.3rem;
        }
        h3{
            font-size:1.3rem;
        }


    }
}
@media (max-width:1000px) {
    .carte{
        &__img{
            height:11rem;
        }
        &__desc{
            height:5rem;
            margin-bottom: -1rem;
        }
    }
    .menus{
        &__cartes{
            margin-left: 4%;
            margin-right: 4%;
        }
        h2{
            margin-left: 4%;
        }
    }
}